* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #ededed;
    background-color: #000;
    margin-top: 0;
}

.header {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 50;
    margin-left: 25px;
    transition: 1s;
}

.navbar a:hover {
    color: #0ef;
}

.about {
    display: flex;
    justify-content: center; 
    align-items: center;     
    flex-direction: column;
    padding: 50px 10%;
    color: #ededed;
    text-align: left;
    margin-top: 50px;
    background: url('../PHTOES/Graphic\ Designer\ Online\ Portfolio.png') no-repeat center center;
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    height: 100vh;
    background-color: transparent;
}

.about-content {
    text-align: left;
    max-width: 80%;
    background-color: rgba(0, 0, 0, 0.3);  
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
    border: 2px solid #0ef;  
    opacity: 0.85;  
}

.about-content h2 {
    font-size: 36px;
    color: #0ef;
    margin-bottom: 20px;
    text-align: center; 
    font-weight: bold;
}

.about-content p {
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 1.6;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    text-align: left;
}

@keyframes slidRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar a {
        margin-left: 0;
        margin-top: 15px;
    }

    .about {
        padding: 50px 5%;
    }

    .about-content h2 {
        font-size: 28px;
    }

    .navbar a {
        font-size: 16px;
    }
}
